.taskItem {
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.taskItems {
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    margin-bottom: 9px;
}

.checkTask {
    margin-left: 15px;
    margin-right: 15px;
}

.createTask {
    margin-left: 5px;
    margin-top: 9px;
}

.taskHeader {
    margin-left: 5px;
}

.taskName {
    text-decoration: underline;
}

.complete {
    font-weight: 400;
}

.button {
    width: min-content;
    margin-top: 5px;
}

.bookAd {
    margin: 15px;
}

.completedTasks {
    margin-left: 9px;
}

.statistics {
    margin-left: 6px;
    margin-bottom: 9px;

}

.backButton {
    margin-left: 9px;
    margin-bottom: 5px;
}
.btn-primary {
    margin-left: 9px;
    margin-top: 5px;
}