.news{
    position: fixed;
    top: 50px;
    right: 3px;
    width: 40%;
    border: 2px dashed gray
}
.article{
    border: 1px solid gray;
    border-radius: 20% 10% / 5% 30%;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
.title{
    font-size: 12pt;
    font-weight: 300;
}
.synopsis{
    font-size: 9pt;
    font-weight: 100;
}
.url{
    text-align: right;
    font-size: 8pt;
}
.article_delete{
    margin-left: 10rem;
    font-size: 7pt;  
}
.article_delete:hover{
        background-color: red;
    }

.article_edit{
    margin-left: 5rem;
    font-size: 7pt;
}